<md-dialog>

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Comparar importacao</h2>
        </div>
    </md-toolbar>

    <md-content ng-init="recuperarImportacoesComparacoes()">
        <md-tabs md-dynamic-height md-border-bottom>

            <md-tab label="Selecionar importacoes">
                <md-content class="md-padding">

                    <div layout="row" layout-wrap flex>
                                   
                        <div class="demo-select-all-checkboxes" flex="100" ng-repeat="item in itemImportacoesObj">
                            <md-checkbox ng-checked="existe(item.Id, selectedImportacoes)" ng-click="toggle(item.Id, selectedImportacoes)">
                                {{ item.Descricao }}
                            </md-checkbox>
                        </div>
                    </div>
                    
                </md-content>
            </md-tab>

            <md-tab label="Resultado" ng-disabled="compararImportacao.segundaAbaBloqueada">
                <md-content class="md-padding">
               

                 
                </md-content>
            </md-tab>
           
        </md-tabs>
    </md-content>

    <md-progress-circular md-mode="indeterminate" style="display:inline; position:fixed; bottom:50%; left:50%;" ng-show="isLoading"></md-progress-circular>
    <md-dialog-actions layout="row">
        <md-button ng-click="cancel()">Fechar</md-button>
    </md-dialog-actions>
</md-dialog>