<md-dialog style="min-height:400px;">

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 flex md-truncate>Comparar importação</h2>
            <md-button class="md-icon-button" aria-label="Favorite" ng-click="cancel()">
                <md-icon md-svg-icon="app/assets/img/cancel-window.svg" class="favorite-icon"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-content ng-init="recuperarImportacoesComparacoes()">
        <md-tabs md-dynamic-height md-border-bottom md-selected="compararImportacao.index">

            <md-tab label="Selecionar importações">
                <md-content class="md-padding">

                    <div layout="row" layout-wrap flex>

                        <div class="demo-select-all-checkboxes" flex="100" ng-repeat="item in itemImportacoesObj">
                            <md-checkbox ng-checked="existe(item.Id, selectedImportacoes)" ng-click="toggle(item.Id, selectedImportacoes)">
                                {{ item.Id }} - {{ item.Descricao }}
                            </md-checkbox>
                        </div>
                    </div>

                </md-content>
            </md-tab>

            <md-tab label="Resultado" ng-disabled="compararImportacao.segundaAbaBloqueada" md-on-select="selecionaTab()" md-on-deselect="deselecionaTab()">
                <md-content class="md-padding">

                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div id="graficoComparacao"></div>
                            </div>
                        </div>
                    </div>


                </md-content>
            </md-tab>

        </md-tabs>
    </md-content>

    <md-progress-circular md-mode="indeterminate" style="display:inline; position:fixed; bottom:50%; left:50%;" ng-show="isLoading"></md-progress-circular>
    <md-dialog-actions layout="row">
        <md-button ng-click="cancel()">Fechar</md-button>
    </md-dialog-actions>
</md-dialog>